$blue: #0a1426;
$blue-dark: #070d19;
$blue-light: #1e2f4d;

$green: #223d40;
$green-dark: #1b3133;
$green-light: #366166;

$white: #f2f2f2;
$white-dark: #e4e6e7;
$white-light: #fcfdfd;

$gray-1: #736a63;
$gray-2: #8c8279;
$gray-3: #bfb1a4;
